name: Test

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
      - dev

permissions:
  contents: read

jobs:
  test:
    name: Run Tests
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Show build environment
        run: |
          xcode-select -p
          swift --version

      - name: Build and check for warnings
        run: swift build --build-tests 2>&1 | tee build.log

      - name: Run tests
        run: swift test

      - name: Check code compiles without warnings
        run: '! grep -q "warning:" build.log'
